*
{
    box-sizing: border-box;
    padding: 0px;
}
.images
{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img
{
    flex-basis: 300px;
    height: 300px;
    border-radius:20px;
}
#playbtn
{
    width:250px;
    height: 60px;
    background-image: linear-gradient(to right,rgba(210, 31, 61, 0.493),aqua);
    border: none;
    border-radius: 40px;
    color: white;
    font:bold 25px sans-serif;
}